.page-listone {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: #ffffff;
    height: 100%;
}

#epam-video {
    position: fixed;
    top: 0px;
    right: 0px;
}