.page-listone {
    background: url('images/background.png') no-repeat 0 center;
    background-size: cover;
    color: #ffffff;
}

.page-listone-introduction {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 64px;
}

.page-listone-introduction h1 {
    letter-spacing: -1px;
    margin-bottom: 17px;
}

.page-listone-introduction .slogan {
    width: 700px;
    margin: auto;
    line-height: 30px;
    font-size: 17px;
}

.button-play {
    margin: 70px 0;
}

.btn-getstarted {
    margin-top: 195px;
}