.page-listone {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: #ffffff;
    height: 100%;
}

.page-listone-introduction {
    text-align: center;
    margin-top: 160px;
}

.page-listone-introduction h1 {
    letter-spacing: -1px;
    margin-bottom: 17px;
}

.page-listone-introduction .slogan {
    width: 700px;
    margin: auto;
    line-height: 30px;
    font-size: 17px;
}

.button-play {
    margin: 70px 0;
}

.btn-getstarted {
    margin-top: 195px;
}