.page_about_author {
    height: 464px;
    color: #f9f9f9;
    background-color: #5b6768;
    padding-top: 135px;
    text-align: center;
    position: relative;
}

.page_about_author:after {
    content: '';
    display: block;

    width: 0;
    height: 0;
    border-style: solid;
    border-bottom-width: 32px;
    border-left-width: 32px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;


    border-bottom-right-radius: 5px;
    background-color: #5b6768;
    transform: rotate(53deg) skewX(16deg);

    position: absolute;
    z-index: -1;
    bottom: -16px;
    left: 782px;

}

.page_about_author h4 {
    line-height: 53px;
    letter-spacing: -0.2px;
    word-spacing: -2.5px;
}

.page_about_author .avatar {
    margin: 0 auto;
    height: 122px;
    width: 122px;
    background-color: dodgerblue;
    border: 5px solid #fdfdfd;
    border-radius: 50%;
    margin-bottom: 25px;
}

.slider_switches {
    display: inline-block;
    margin-top: 60px;
}

.slider_switches:after {
    content: '';
    display: block;
    clear: both;
}

.page_about_author .switch {
    height: 8px;
    width: 8px;
    background-color: transparent;
    border: 3px solid #fdfdfd;
    border-radius: 50%;
    margin: 0 13px;

    float: left;
}

.page_about_author .switch.active {
    background-color: #fdfdfd;
}
.page-design {
    padding-top: 108px;
}

.page-design-articles:after {
    content: '';
    display: block;
    clear: both;
}

.page-design-articles_left-column,
.page-design-articles_right-column {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.page-design-articles_left-column .page-design-articles_item {
    padding-right: 70px;
}

.page-design-articles_right-column .page-design-articles_item {
    padding-left: 69px;
}

.page-design-articles_item {
    padding-bottom: 74px;
}

.page-design-articles_item:last-child {
    padding-bottom: 0;
    margin-bottom: -8px;
}

.page-design-articles_right-column {
    border-left: 1px solid #edf1f3;
}

.page-design-articles h5 {
    letter-spacing: 2px;
    word-spacing: 1px;
}

.page-design-articles p {
    margin-top: 21px;
    line-height: 30px;
    letter-spacing: .1px;
    word-spacing: -1.1px;
}

.page-design .button_place {
     text-align: center;
}

.page-design .button_place .btn-trydemo {
    margin-top: 80px;
}