h3 {
    margin-bottom: 25px;
}

.page-work {
    padding-top: 100px !important;
    color: #abbcc3;
    background-color: #f6f6f4;
}

.page-work article {
    margin: 0 20px;
    line-height: 24px;
}

.page-work article.coolmessage {
    width: 420px;
    float: left;
}

.page-work-ihavenoideawhatisit, .page-work-square {
    width: 337px;
}

.page-work-ihavenoideawhatisit {
    height: 486px;
    float: left;
    margin-right: 20px;
    border-bottom: 3px solid #eaeaea;
    color: #7a8387;
    background-color: #ffffff;
}

.page-work-ihavenoideawhatisit:first-of-type {
    margin-left: 3px;
}

.page-work-ihavenoideawhatisit:last-of-type {
    margin-right: 23px;
}

.page-work-ihavenoideawhatisit-desc {
    padding-top: 30px;
    padding-left: 40px;
}

.page-work-ihavenoideawhatisit-desc h5 {
    margin-bottom: 15px;
    color: #9197a8;
    letter-spacing: 2px;
}

.page-work-square {
    height: 346px;
}

.page-work-square.red {
    background-color: #f69679;
}

.page-work-square.orange {
    background-color: #e8b968;
}
