.page-contactme {
    background-color: #7accc8;
    color: #ffffff;
}

.page-contactme-content {
    font-family: 'Segoe UI';
}

.page-contactme-designby {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}