.author_page {
  overflow: visible;
  height: 464px;
  color: #f9f9f9;
  padding-top: 135px;
  text-align: center;
  position: relative;
  background: url("images/branch.png") no-repeat 0 -45px #5b6869;

  &:after {
    content: '';
    display: block;

    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 32px;
    border-left-width: 32px;

    border-bottom-right-radius: 5px;
    background-color: #5b6869;
    transform: rotate(53deg) skewX(16deg);

    position: absolute;
    z-index: -1;
    bottom: -16px;
    left: 50%;
    margin-left: -18px;

  }

  h4 {
    line-height: 53px;
    letter-spacing: -0.2px;
    word-spacing: -2.5px;
  }

  .slider_slide {
    width:1180px;
    float: left;
  }

  .slide_1 {
  }

  .slide_2 {
  }

  .slide_3 {
  }

  .slider_inner {
    width: 300%
  }

  .slider_stack {
    overflow: hidden;
  }

  .slider_helper {
    display: none;
  }

  #slide_1:checked ~ .slider_stack .slider_inner {
    margin-left: 0;
  }

  #slide_2:checked ~ .slider_stack .slider_inner {
    margin-left: -100%;
  }

  #slide_3:checked ~ .slider_stack .slider_inner {
    margin-left: -200%;
  }

  #slide_1:checked ~ .slider_switches .slider_switch:nth-child(1),
  #slide_2:checked ~ .slider_switches .slider_switch:nth-child(2),
  #slide_3:checked ~ .slider_switches .slider_switch:nth-child(3){
    background-color: #fdfdfd;
  }

  .slider_inner {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
  }

  .slider_switches {
    display: inline-block;
    margin-top: 56px;
  }

  .slider_switches:after {
    content: '';
    display: block;
    clear: both;
  }

  .slider_switch {
    height: 8px;
    width: 8px;
    background-color: transparent;
    border: 3px solid #fdfdfd;
    border-radius: 50%;
    margin: 0 13px;

    float: left;

    cursor: pointer;
  }

  .slider_switch.active {
    background-color: #fdfdfd;
  }

  .avatar {
    height: 122px;
    width: 122px;
    background-color: dodgerblue;
    border: 5px solid #fdfdfd;
    border-radius: 50%;
    margin-bottom: 25px;

    &.author {
      animation: roll 15s infinite;
    }
  }
}

@keyframes roll {
  0%{
    transform: rotate(0deg);
  }
  5%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
