.demo_page {
  padding-top: 108px;
  padding-bottom: 127px;

  .articles_left-column,
  .articles_right-column {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }

  .articles_left-column .articles_item {
    padding-right: 70px;
  }

  .articles_right-column .articles_item {
    padding-left: 69px;
  }

  .articles_item {
    padding-bottom: 74px;
  }

  .articles_item:last-child {
    padding-bottom: 0;
    margin-bottom: -8px;
  }

  .articles_right-column {
    border-left: 1px solid #edf1f3;
  }

  .articles h5 {
    letter-spacing: 2px;
    word-spacing: 1px;
  }

  .articles p {
    margin-top: 21px;
    line-height: 30px;
    letter-spacing: .1px;
    word-spacing: -1.1px;
  }

  .button_place {
    text-align: center;
  }

  .button_place .btn-trydemo {
    margin-top: 80px;
  }
}

.articles:after {
  content: '';
  display: block;
  clear: both;
}
