
.download_page {
  color: #ffffff;
  overflow: hidden;
  position: relative;
  padding-top: 88px;
  padding-bottom: 181px;
  box-sizing: border-box;
  background: url("images/radial_circles.png") no-repeat calc(100% - 187px) calc(100% + 239px) #e8b968;


  @media screen and (min-width: 1600px) {
    & {
      background-position: calc(100% - 346px) calc(100% + 239px);
    }
  }

  h2 {
    letter-spacing: .7px;
    word-spacing: -8px;
    line-height: 54px;
    margin-bottom: 31px;
  }

  p {
    line-height: 30px;
    letter-spacing: .1px;
    word-spacing: -1.1px;
    margin-bottom: 29px;
  }

  button {
    margin-top: 8px;
  }

  .left-column {
    width: 59%;
    float: left;
  }

  .right-column {
    float: right;
    width: 35%;
  }

  #img-iPad {
    position: absolute;
    top: 67px;
    box-shadow: -23px 18px 1px rgba(211, 165, 84, .4);
    border-radius: 57px;
  }
}
